body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../images/background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.thumbnail {
    height: 100px;
    display: table;
}

.thumbnail img {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.buttonpadding {
	margin-left: 10px;
	margin-right: 10px;
}